<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Вход</title>


</head>
<body>

<form class="form-signin" action="/auth" method="post">
    <div id="loginicon">
        <img id="icon" src="/static/img/login.png" alt="">
    </div>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="">
    <label for="userRole">Select role</label>
    <select class="selectpicker" name="userRole" id="userRole">
        <!--ROLE_ADMIN, ROLE_USER, ROLE_ANONYMOUS,-->
        <!--ROLE_MANAGER, ROLE_DISPATCHER, ROLE_DRIVER,-->
        <!--ROLE_COMP_OWNER, ROLE_SYS_ADMIN-->
        <option value="ROLE_MANAGER">Manager</option>
        <option value="ROLE_DISPATCHER">Dispatcher</option>
        <option value="ROLE_DRIVER">Driver</option>
    </select>
    <button id="loginbutton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

</body>
</html>