<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REgCheck</title>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>

<form class="form-signin" id="form">
    <div id="loginicon">
        <img id="icon" src="/static/img/login.png" alt="">
    </div>
    <input type="text" style="text-align: center;" name="username" id="username" class="form-control" placeholder="Username" required="" autofocus="">
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
    <input type="password" name="password" id="passwordAgain" class="form-control" placeholder="Password again" required="">
    <span id="error-span" style="color: red;"></span>
    <button id="loginbutton" class="btn btn-lg btn-primary btn-block" type="button">Sign in</button>
</form>

<span id="message-span"></span>

<script>
    document.getElementById('loginbutton').onclick = function () {
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        let passAgain = document.getElementById('passwordAgain').value;
        let token = location.href.split("=")[1];
        if (password === passAgain){
            let formData = new FormData();
            formData.append("username", username);
            formData.append("password", password);
            formData.append("token", token);
            fetch('/regAdmin',{method: "POST", body: formData}).then(function (response) {
                response.json().then(function (data) {
                    console.log(data);
                    if (data.error===undefined){
                        document.getElementById('error-span').innerText = data.error;
                    }else{
                        document.getElementById('form').style.display = 'none';
                        document.getElementById('message-span').innerText = "Success";
                    }
                })
            })
        }
    }
</script>

</body>
</html>