<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Registration</title>
</head>
<body>

<form class="form-signin" id="user-form">
    <div id="loginicon">
        <img id="icon" src="/static/img/login.png" alt="">
    </div>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
    <input type="text" style="text-align: center;" name="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <input type="password" name="password" id="inputPasswordAgain" class="form-control" placeholder="Password again" required="">
    <span style="color: red;" id="error-span"></span>
    <button id="loginbutton" class="btn btn-lg btn-primary btn-block" onclick="sendNewUser()" type="button">Sign in</button>
</form>

<script>
    function sendNewUser() {
        let username = document.getElementById('inputUsername').value;
        let email = document.getElementById('inputEmail').value;
        let password = document.getElementById('inputPassword').value;
        let passwordAgain = document.getElementById('inputPasswordAgain').value;
        if (password === passwordAgain){
            document.getElementById('error-span').innerText = "";
            let formData = new FormData();
            formData.append("username", username);
            formData.append("email", email);
            formData.append("password", password);
            fetch('/rest/registration', {method: "POST", body: formData}).then(function (response) {
                response.json().then(function (data) {
                    console.log(data);
                    if (data.error===undefined){
                        document.getElementById('user-form').style.display = 'none';
                    }else{
                        document.getElementById('error-span').innerText = data.error;
                    }
                })
            })
        }else{
            document.getElementById('error-span').innerText = "Passwords do not match";
        }
    }
</script>



</body>
</html>