html,
body {
  height: 100%;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 25px;
  margin: auto;
  margin-top:10%;
/*  box-shadow: 0 10px 60px 0 rgba(0,0,0,0.3);*/
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#icon {
  width:80%;
}

.text_left{
    text-align: left;
}


/* order list */
.superuserform_newaccountform{
    margin-top: 50px;
    padding: 40px;
}

.superuserform_companylist{
    margin-top: 50px;
}
.form_block{
    margin-top: 50px;
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.registrate_company_form{
    border-radius: 20px;
    box-shadow: 0 0 19px #747474;
}
.form_clear{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn_fullsize{
    width: 100%;
}
.table_row{
    text-align: center;
    margin-top: 10px;
    background-color: #f3f3f3;
    padding: 15px;
}
.error-span{
    color: red;
}

/*manager*/
.table_footer {
   margin: 10px auto 0 auto;
    width:10%;

}

.manager_createcancelletionact {
    margin-top: 70px;
    padding: 40px;
}
.cancel_product, .manager_ref {
    cursor: pointer;
    color:	#C797AE;
}

.order_row {
    color: black;
}

.manager_ref:hover {
    color:	#C797AE;
    text-decoration: none;
}