html,
body {
  height: 100%;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 25px;
  padding-top: 0px;
  margin: auto;
  -webkit-box-shadow: 0 10px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 10px 60px 0 rgba(0,0,0,0.3);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type=email],input[type=password],input[type=text] {
  margin-bottom: -1px;
  text-align: center;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
    margin-bottom: 10px;
}

#icon {
  width:80%;
}
#loginicon{
  text-align: center;
    margin-bottom: 30px;


}
.loginbutton{
  box-shadow: 0 0 15px 2px #2196F3;
}

.text_left{
    text-align: left;
}


/* order list */
.superuserform_newaccountform{
    margin-top: 50px;
    padding: 40px;
}

.superuserform_companylist{
    margin-top: 50px;
}
.form_block{
    margin-top: 50px;
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.registrate_company_form{
    border-radius: 20px;
    box-shadow: 0 0 19px #747474;
}
.form_clear{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn_fullsize{
    width: 100%;
}
.table_row{
    text-align: center;
    margin-top: 10px;
    background-color: #f3f3f3;
    padding: 10px;
}
.table_header{
    text-align: center;
    padding: 10px;
    background-color: #4e4e4e;
    margin-bottom: 10px;
    color: white;
}
.grey_form{
    color: white;
    background-color: #4e4e4e;
}
.table_button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

